[submodule "external/trm_integration"]
	path = external/trm_integration
	url = https://github.com/MilesAheadToo/TRM_integration
	branch = main
[submodule "external/tiny-recursive-model"]
	path = external/tiny-recursive-model
	url = https://github.com/SamsungSAILMontreal/TinyRecursiveModels
